 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/1dd54a676aaa7f9f1d529535b37d474bc15b17ef8e9a76b5b25cc8c6b29af9a1d55844744ad319672253c4dd7755137914e3d67918e3b7e9e7e7c6_1280.png");
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  text-transform: none;
  font-weight: normal;
  margin: 60px auto 0 20px;
}

.u-section-1 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 30px 97px 0 20px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 40px 20px 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 349px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 420px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 300px;
  height: 300px;
  background-image: url("images/me_adam.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 420px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-family: Raleway, sans-serif;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  font-family: Raleway, sans-serif;
  padding: 0;
}

.u-section-2 .u-btn-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 275px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 346px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 346px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 194px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    width: 216px;
    height: 216px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 547px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 355px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 371px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
  }

  .u-section-2 .u-btn-3 {
    margin-right: auto;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 108px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 108px;
}

.u-section-3 .u-container-layout-1 {
  padding: 29px 60px;
}

.u-section-3 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 428px;
  min-width: 236px;
  margin: 0 auto;
}

.u-section-3 .u-icon-1 {
  height: 100%;
  color: rgb(219, 83, 75) !important;
}

.u-section-3 .u-icon-2 {
  height: 100%;
  color: rgb(0, 137, 203) !important;
}

.u-section-3 .u-icon-3 {
  height: 0;
}

.u-section-3 .u-icon-4 {
  height: 100%;
}

.u-section-3 .u-icon-5 {
  color: rgb(17, 17, 17) !important;
}

.u-section-3 .u-icon-6 {
  height: 100%;
  color: rgb(197, 54, 164) !important;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 89px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 89px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 68px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 202px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 102px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 164px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 106px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-social-icons-1 {
    width: 336px;
    height: 33px;
    margin-right: -6px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 202px;
}

.u-section-4 .u-text-1 {
  font-weight: 900;
  margin: 60px auto 0;
}

.u-section-4 .u-text-2 {
  margin: 20px auto 48px;
}.u-section-5 .u-sheet-1 {
  min-height: 471px;
}

.u-section-5 .u-list-1 {
  margin-top: 0;
  margin-bottom: 0;
  grid-template-rows: auto;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 952px;
}

.u-section-5 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/ZXcorr-image.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 270px;
  font-size: 1.5rem;
}

.u-section-5 .u-text-2 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-5 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/neutrinos.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-3 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 270px;
  font-size: 1.5rem;
}

.u-section-5 .u-text-4 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-5 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/32807df3e525370b8fbb8f165ca2854a109f5b361dae065c0cdf4bb9516da8ad6bbb4ae5f04005ef6d12c3d988ee64cfb4a96383b157151190e9ec_1280.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-5 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 270px;
  font-size: 1.5rem;
}

.u-section-5 .u-text-6 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-5 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/IfATree-thumb.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-text-7 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 270px;
  font-size: 1.5rem;
}

.u-section-5 .u-text-8 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-5 .u-image-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/materiaEscura1.png");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px;
}

.u-section-5 .u-text-9 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 270px;
  font-size: 1.5rem;
}

.u-section-5 .u-text-10 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-5 .u-image-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/spread1.png");
  background-position: 18.9% 50%;
}

.u-section-5 .u-container-layout-6 {
  padding: 30px;
}

.u-section-5 .u-text-11 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 270px;
  font-size: 1.5rem;
}

.u-section-5 .u-text-12 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  font-family: Raleway, sans-serif;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-repeater-1 {
    min-height: 785px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 1353px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 132px;
}

.u-section-6 .u-text-1 {
  font-weight: 900;
  margin: 63px auto 18px;
}.u-section-7 .u-sheet-1 {
  min-height: 540px;
}

.u-section-7 .u-tabs-1 {
  min-height: 480px;
  margin: 60px auto 0 0;
}

.u-section-7 .u-tab-link-1 {
  font-size: 1rem;
  background-image: none;
  font-weight: 700;
  padding: 10px;
}

.u-section-7 .u-tab-link-2 {
  font-size: 1rem;
  background-image: none;
  font-weight: 700;
  padding: 10px;
}

.u-section-7 .u-tab-link-3 {
  font-size: 1rem;
  background-image: none;
  font-weight: 700;
  padding: 10px;
}

.u-section-7 .u-tab-link-4 {
  font-size: 1rem;
  background-image: none;
  font-weight: 700;
  padding: 10px;
}

.u-section-7 .u-tab-link-5 {
  font-size: 1rem;
  background-image: none;
  font-weight: 700;
  padding: 10px;
}

.u-section-7 .u-tab-link-6 {
  font-size: 1rem;
  background-image: none;
  font-weight: 700;
  padding: 10px;
}

.u-section-7 .u-tab-link-7 {
  font-size: 1rem;
  background-image: none;
  font-weight: 700;
  padding: 10px;
}

.u-section-7 .u-tab-link-8 {
  font-size: 1rem;
  background-image: none;
  font-weight: 700;
  padding: 10px;
}

.u-section-7 .u-tab-pane-1 {
  background-image: none;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-image-1 {
  width: 420px;
  height: 367px;
  object-position: 96.78% 50%;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-1 {
  margin: -367px 0 0 522px;
}

.u-section-7 .u-text-2 {
  margin: 23px 0 0 522px;
}

.u-section-7 .u-text-3 {
  line-height: 1.6;
  margin: 27px 0 0 522px;
}

.u-section-7 .u-tab-pane-2 {
  background-image: none;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-image-2 {
  width: 420px;
  height: 367px;
  object-position: 96.78% 50%;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-4 {
  margin: -367px 0 0 522px;
}

.u-section-7 .u-text-5 {
  margin: 23px 0 0 522px;
}

.u-section-7 .u-text-6 {
  line-height: 1.6;
  margin: 27px 0 0 522px;
}

.u-section-7 .u-tab-pane-3 {
  background-image: none;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-image-3 {
  width: 420px;
  height: 367px;
  object-position: 96.78% 50%;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-7 {
  margin: -367px 0 0 522px;
}

.u-section-7 .u-text-8 {
  margin: 23px 0 0 522px;
}

.u-section-7 .u-text-9 {
  line-height: 1.6;
  margin: 27px 0 0 522px;
}

.u-section-7 .u-tab-pane-4 {
  background-image: none;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px;
}

.u-section-7 .u-image-4 {
  width: 420px;
  height: 367px;
  object-position: 29.37% 50%;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-10 {
  margin: -367px 0 0 522px;
}

.u-section-7 .u-text-11 {
  margin: 23px 0 0 522px;
}

.u-section-7 .u-text-12 {
  line-height: 1.6;
  margin: 27px 0 0 522px;
}

.u-section-7 .u-tab-pane-5 {
  background-image: none;
}

.u-section-7 .u-container-layout-5 {
  padding: 30px;
}

.u-section-7 .u-image-5 {
  width: 420px;
  height: 367px;
  object-position: 49.06% 50%;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-13 {
  margin: -367px 0 0 522px;
}

.u-section-7 .u-text-14 {
  margin: 23px 0 0 522px;
}

.u-section-7 .u-text-15 {
  line-height: 1.6;
  margin: 27px 0 0 522px;
}

.u-section-7 .u-tab-pane-6 {
  background-image: none;
}

.u-section-7 .u-container-layout-6 {
  padding: 30px;
}

.u-section-7 .u-image-6 {
  width: 420px;
  height: 367px;
  object-position: 49.06% 50%;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-16 {
  margin: -367px 0 0 522px;
}

.u-section-7 .u-text-17 {
  margin: 23px 0 0 522px;
}

.u-section-7 .u-text-18 {
  line-height: 1.6;
  margin: 27px 0 0 522px;
}

.u-section-7 .u-tab-pane-7 {
  background-image: none;
}

.u-section-7 .u-container-layout-7 {
  padding: 30px;
}

.u-section-7 .u-image-7 {
  width: 420px;
  height: 367px;
  object-position: 49.06% 50%;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-19 {
  margin: -367px 0 0 522px;
}

.u-section-7 .u-text-20 {
  margin: 23px 0 0 522px;
}

.u-section-7 .u-text-21 {
  line-height: 1.6;
  margin: 27px 0 0 522px;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  font-family: Raleway, sans-serif;
  padding: 0;
}

.u-section-7 .u-tab-pane-8 {
  background-image: none;
}

.u-section-7 .u-container-layout-8 {
  padding: 30px;
}

.u-section-7 .u-image-8 {
  width: 420px;
  height: 367px;
  object-position: 49.06% 50%;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-22 {
  margin: -367px 0 0 522px;
}

.u-section-7 .u-text-23 {
  margin: 23px 0 0 522px;
}

.u-section-7 .u-text-24 {
  line-height: 1.6;
  margin: 27px 0 0 522px;
}

.u-section-7 .u-btn-2 {
  background-image: none;
  font-family: Raleway, sans-serif;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-tabs-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-text-1 {
    margin-left: 322px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 322px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 322px;
  }

  .u-section-7 .u-text-4 {
    margin-left: 322px;
  }

  .u-section-7 .u-text-5 {
    margin-left: 322px;
  }

  .u-section-7 .u-text-6 {
    margin-left: 322px;
  }

  .u-section-7 .u-text-7 {
    margin-left: 322px;
  }

  .u-section-7 .u-text-8 {
    margin-left: 322px;
  }

  .u-section-7 .u-text-9 {
    margin-left: 322px;
  }

  .u-section-7 .u-text-10 {
    margin-left: 322px;
  }

  .u-section-7 .u-text-11 {
    margin-left: 322px;
  }

  .u-section-7 .u-text-12 {
    margin-left: 322px;
  }

  .u-section-7 .u-text-13 {
    margin-left: 322px;
  }

  .u-section-7 .u-text-14 {
    margin-left: 322px;
  }

  .u-section-7 .u-text-15 {
    margin-left: 322px;
  }

  .u-section-7 .u-text-16 {
    margin-left: 322px;
  }

  .u-section-7 .u-text-17 {
    margin-left: 322px;
  }

  .u-section-7 .u-text-18 {
    margin-left: 322px;
  }

  .u-section-7 .u-text-19 {
    margin-left: 322px;
  }

  .u-section-7 .u-text-20 {
    margin-left: 322px;
  }

  .u-section-7 .u-text-21 {
    margin-left: 322px;
  }

  .u-section-7 .u-text-22 {
    margin-left: 322px;
  }

  .u-section-7 .u-text-23 {
    margin-left: 322px;
  }

  .u-section-7 .u-text-24 {
    margin-left: 322px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 854px;
  }

  .u-section-7 .u-tabs-1 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-7 .u-image-1 {
    margin-top: 9px;
    margin-left: auto;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: 60px;
    margin-right: 102px;
    margin-left: 0;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-right: 102px;
    margin-left: 0;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-right: 102px;
    margin-bottom: -242px;
    margin-left: 0;
  }

  .u-section-7 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-7 .u-image-2 {
    margin-top: 9px;
    margin-left: auto;
  }

  .u-section-7 .u-text-4 {
    width: auto;
    margin-top: 63px;
    margin-right: 102px;
    margin-left: 0;
  }

  .u-section-7 .u-text-5 {
    width: auto;
    margin-right: 102px;
    margin-left: 0;
  }

  .u-section-7 .u-text-6 {
    width: auto;
    margin-right: 102px;
    margin-bottom: -245px;
    margin-left: 0;
  }

  .u-section-7 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-7 .u-image-3 {
    margin-top: 9px;
    margin-left: auto;
  }

  .u-section-7 .u-text-7 {
    width: auto;
    margin-top: 48px;
    margin-right: 102px;
    margin-left: 0;
  }

  .u-section-7 .u-text-8 {
    width: auto;
    margin-right: 102px;
    margin-left: 0;
  }

  .u-section-7 .u-text-9 {
    width: auto;
    margin-right: 102px;
    margin-bottom: -225px;
    margin-left: 0;
  }

  .u-section-7 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-7 .u-image-4 {
    margin-top: 9px;
    margin-left: auto;
  }

  .u-section-7 .u-text-10 {
    width: auto;
    margin-top: 39px;
    margin-right: 102px;
    margin-left: 0;
  }

  .u-section-7 .u-text-11 {
    width: auto;
    margin-right: 102px;
    margin-left: 0;
  }

  .u-section-7 .u-text-12 {
    width: auto;
    margin-right: 102px;
    margin-bottom: -271px;
    margin-left: 0;
  }

  .u-section-7 .u-container-layout-5 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-7 .u-image-5 {
    margin-top: 9px;
    margin-left: auto;
  }

  .u-section-7 .u-text-13 {
    width: auto;
    margin-top: 48px;
    margin-right: 102px;
    margin-left: 0;
  }

  .u-section-7 .u-text-14 {
    width: auto;
    margin-right: 102px;
    margin-left: 0;
  }

  .u-section-7 .u-text-15 {
    width: auto;
    margin-right: 102px;
    margin-bottom: -255px;
    margin-left: 0;
  }

  .u-section-7 .u-container-layout-6 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-7 .u-image-6 {
    margin-left: auto;
  }

  .u-section-7 .u-text-16 {
    width: auto;
    margin-top: 2px;
    margin-right: 102px;
    margin-left: 0;
  }

  .u-section-7 .u-text-17 {
    width: auto;
    margin-right: 102px;
    margin-left: 0;
  }

  .u-section-7 .u-text-18 {
    width: auto;
    margin-right: 102px;
    margin-bottom: -257px;
    margin-left: 0;
  }

  .u-section-7 .u-container-layout-7 {
    padding: 0 22px;
  }

  .u-section-7 .u-image-7 {
    margin-top: 15px;
    margin-left: auto;
  }

  .u-section-7 .u-text-19 {
    width: auto;
    margin-top: 15px;
    margin-right: 118px;
    margin-left: 0;
  }

  .u-section-7 .u-text-20 {
    width: auto;
    margin-right: 118px;
    margin-left: 0;
  }

  .u-section-7 .u-text-21 {
    width: auto;
    margin-right: 118px;
    margin-bottom: -99px;
    margin-left: 0;
  }

  .u-section-7 .u-container-layout-8 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-7 .u-image-8 {
    margin-top: 9px;
    margin-left: auto;
  }

  .u-section-7 .u-text-22 {
    width: auto;
    margin-top: 58px;
    margin-right: 102px;
    margin-left: 0;
  }

  .u-section-7 .u-text-23 {
    width: auto;
    margin-right: 102px;
    margin-left: 0;
  }

  .u-section-7 .u-text-24 {
    width: auto;
    margin-right: 102px;
    margin-bottom: -265px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 836px;
  }

  .u-section-7 .u-tabs-1 {
    margin-top: 17px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-1 {
    margin-top: 23px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 14px;
    margin-right: 0;
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
  }

  .u-section-7 .u-text-3 {
    margin-right: 0;
    margin-bottom: -7px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-7 .u-image-2 {
    margin-top: 8px;
  }

  .u-section-7 .u-text-4 {
    margin-top: 22px;
    margin-right: 20px;
  }

  .u-section-7 .u-text-5 {
    margin-right: 20px;
  }

  .u-section-7 .u-text-6 {
    margin-right: 20px;
    margin-bottom: -229px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-7 .u-image-3 {
    margin-top: 8px;
  }

  .u-section-7 .u-text-7 {
    margin-top: 33px;
    margin-right: 20px;
  }

  .u-section-7 .u-text-8 {
    margin-right: 20px;
  }

  .u-section-7 .u-text-9 {
    margin-right: 20px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-7 .u-image-4 {
    margin-top: 8px;
    margin-left: 50px;
  }

  .u-section-7 .u-text-10 {
    margin-top: 9px;
    margin-right: 20px;
  }

  .u-section-7 .u-text-11 {
    margin-top: 8px;
    margin-right: 20px;
  }

  .u-section-7 .u-text-12 {
    margin-right: 20px;
    margin-bottom: -262px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-5 {
    margin-top: 8px;
  }

  .u-section-7 .u-text-13 {
    margin-top: 39px;
    margin-right: 0;
  }

  .u-section-7 .u-text-14 {
    margin-right: 0;
  }

  .u-section-7 .u-text-15 {
    margin-right: 0;
    margin-bottom: -246px;
  }

  .u-section-7 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-7 .u-image-6 {
    margin-top: 8px;
  }

  .u-section-7 .u-text-16 {
    margin-top: 8px;
    margin-right: 0;
    margin-left: 20px;
  }

  .u-section-7 .u-text-17 {
    margin-top: 6px;
    margin-right: 0;
    margin-left: 20px;
  }

  .u-section-7 .u-text-18 {
    margin: 0 0 -228px 20px;
  }

  .u-section-7 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-7 {
    margin-top: 23px;
  }

  .u-section-7 .u-text-19 {
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-20 {
    margin-top: 3px;
    margin-right: 0;
  }

  .u-section-7 .u-text-21 {
    margin-right: 0;
    margin-bottom: -82px;
  }

  .u-section-7 .u-container-layout-8 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-7 .u-image-8 {
    margin-top: 8px;
    margin-left: 50px;
  }

  .u-section-7 .u-text-22 {
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-7 .u-text-23 {
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-7 .u-text-24 {
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: -198px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-tabs-1 {
    min-height: 763px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-1 {
    height: 280px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-image-2 {
    height: 297px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-text-4 {
    margin-right: 0;
  }

  .u-section-7 .u-text-5 {
    margin-right: 0;
  }

  .u-section-7 .u-text-6 {
    margin-right: 0;
  }

  .u-section-7 .u-image-3 {
    height: 297px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-text-7 {
    margin-right: 0;
  }

  .u-section-7 .u-text-8 {
    margin-right: 0;
  }

  .u-section-7 .u-text-9 {
    margin-right: 0;
  }

  .u-section-7 .u-image-4 {
    height: 297px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-text-10 {
    margin-right: 0;
  }

  .u-section-7 .u-text-11 {
    margin-right: 0;
  }

  .u-section-7 .u-text-12 {
    margin-right: 0;
  }

  .u-section-7 .u-image-5 {
    height: 280px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-image-6 {
    height: 297px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-text-16 {
    margin-left: 0;
  }

  .u-section-7 .u-text-17 {
    margin-left: 0;
  }

  .u-section-7 .u-text-18 {
    margin-left: 0;
  }

  .u-section-7 .u-image-7 {
    height: 280px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-image-8 {
    height: 297px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-text-22 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-text-23 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-text-24 {
    margin-right: 0;
  }
}