 .u-section-1 {
  min-height: 318px;
}

.u-section-1 .u-sheet-1 {
  min-height: 825px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 0 auto 60px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 655px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 48px;
  width: 48px;
  background-image: none;
  margin: 39px auto 0;
}

.u-section-1 .u-text-1 {
  margin: 30px 30px 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 30px 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 15px 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-family: Raleway, sans-serif;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-family: Raleway, sans-serif;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  font-family: Raleway, sans-serif;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  font-family: Raleway, sans-serif;
  padding: 0;
}

.u-section-1 .u-btn-5 {
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 922px;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 0;
}

.u-section-1 .u-image-1 {
  object-position: 72.02% 50%;
  width: 576px;
  height: 626px;
  margin: 112px auto 0 -5px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 203px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 540px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 760px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-image-1 {
    width: 470px;
    height: 511px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 66px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 77px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 582px;
  }

  .u-section-1 .u-image-1 {
    width: 360px;
    height: 391px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 528px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 0 50px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 30px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 266px;
    margin-bottom: -196px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 873px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 224px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1914px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 737px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 278px;
    margin-bottom: -207px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 550px;
  }

  .u-section-1 .u-image-1 {
    height: 369px;
    width: 340px;
    margin-top: -65px;
    margin-left: -20px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 471px;
}

.u-section-2 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-list-1 {
  margin-top: 30px;
  margin-bottom: 60px;
  grid-template-rows: auto;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 952px;
}

.u-section-2 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/ZXcorr-image1.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 270px;
  font-size: 1.5rem;
}

.u-section-2 .u-text-3 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-2 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/neutrinos1.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 270px;
  font-size: 1.5rem;
}

.u-section-2 .u-text-5 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-2 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/32807df3e525370b8fbb8f165ca2854a109f5b361dae065c0cdf4bb9516da8ad6bbb4ae5f04005ef6d12c3d988ee64cfb4a96383b157151190e9ec_12801.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-6 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 270px;
  font-size: 1.5rem;
}

.u-section-2 .u-text-7 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-2 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/IfATree-thumb1.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-8 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 270px;
  font-size: 1.5rem;
}

.u-section-2 .u-text-9 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-2 .u-image-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/materiaEscura11.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-text-10 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 270px;
  font-size: 1.5rem;
}

.u-section-2 .u-text-11 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-2 .u-image-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/spread11.png");
  background-position: 18.9% 50%;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-text-12 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 270px;
  font-size: 1.5rem;
}

.u-section-2 .u-text-13 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-family: Raleway, sans-serif;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    min-height: 785px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 1353px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}