.u-section-1 .u-sheet-1 {
  min-height: 177px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  margin: 60px auto;
}.u-section-2 .u-sheet-1 {
  min-height: 622px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 0 0 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 510px;
}

.u-section-2 .u-container-layout-1 {
  padding-top: 0;
}

.u-section-2 .u-shape-1 {
  height: 421px;
  width: 472px;
  margin: 59px 0 0 auto;
}

.u-section-2 .u-image-1 {
  width: 457px;
  height: 460px;
  object-position: 50% 0%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -480px auto 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 510px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 20px auto 0 0;
}

.u-section-2 .u-btn-2 {
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 495px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 421px;
  }

  .u-section-2 .u-shape-1 {
    height: 332px;
    width: 369px;
  }

  .u-section-2 .u-image-1 {
    width: 364px;
    height: 336px;
    margin-top: -390px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 421px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 425px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 332px;
  }

  .u-section-2 .u-shape-1 {
    height: 243px;
    width: 276px;
  }

  .u-section-2 .u-image-1 {
    width: 276px;
    height: 255px;
    margin-top: -301px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 319px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 399px;
  }

  .u-section-2 .u-shape-1 {
    height: 310px;
    width: 332px;
    margin-right: 70px;
  }

  .u-section-2 .u-image-1 {
    width: 371px;
    height: 373px;
    object-position: 50% 96.26%;
    margin-top: -402px;
    margin-left: 70px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 837px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -17px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 349px;
  }

  .u-section-2 .u-shape-1 {
    height: 253px;
    width: 300px;
    margin-top: 76px;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    width: 281px;
    height: 279px;
    margin-top: -309px;
    margin-left: auto;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 622px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 0 0 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 510px;
}

.u-section-3 .u-container-layout-1 {
  padding-top: 0;
}

.u-section-3 .u-shape-1 {
  height: 421px;
  width: 472px;
  margin: 59px 0 0 auto;
}

.u-section-3 .u-image-1 {
  width: 457px;
  height: 460px;
  object-position: 50% 0%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -480px auto 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 510px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin: 38px auto 0 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 20px auto 0 0;
}

.u-section-3 .u-btn-2 {
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 495px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 421px;
  }

  .u-section-3 .u-shape-1 {
    height: 332px;
    width: 369px;
  }

  .u-section-3 .u-image-1 {
    width: 364px;
    height: 336px;
    margin-top: -390px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 421px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 425px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 332px;
  }

  .u-section-3 .u-shape-1 {
    height: 243px;
    width: 276px;
  }

  .u-section-3 .u-image-1 {
    width: 276px;
    height: 255px;
    margin-top: -301px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 319px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 399px;
  }

  .u-section-3 .u-shape-1 {
    height: 310px;
    width: 332px;
    margin-right: 70px;
  }

  .u-section-3 .u-image-1 {
    width: 371px;
    height: 373px;
    object-position: 50% 96.26%;
    margin-top: -402px;
    margin-left: 70px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 837px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -17px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 349px;
  }

  .u-section-3 .u-shape-1 {
    height: 253px;
    width: 300px;
    margin-top: 76px;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    width: 281px;
    height: 279px;
    margin-top: -309px;
    margin-left: auto;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 622px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 0 0 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 510px;
}

.u-section-4 .u-container-layout-1 {
  padding-top: 0;
}

.u-section-4 .u-shape-1 {
  height: 421px;
  width: 472px;
  margin: 59px 0 0 auto;
}

.u-section-4 .u-image-1 {
  width: 457px;
  height: 460px;
  object-position: 50% 0%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -480px auto 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 510px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  margin: 38px auto 0 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 20px auto 0 0;
}

.u-section-4 .u-btn-2 {
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 495px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 421px;
  }

  .u-section-4 .u-shape-1 {
    height: 332px;
    width: 369px;
  }

  .u-section-4 .u-image-1 {
    width: 364px;
    height: 336px;
    margin-top: -390px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 421px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 425px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 332px;
  }

  .u-section-4 .u-shape-1 {
    height: 243px;
    width: 276px;
  }

  .u-section-4 .u-image-1 {
    width: 276px;
    height: 255px;
    margin-top: -301px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 319px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 399px;
  }

  .u-section-4 .u-shape-1 {
    height: 310px;
    width: 332px;
    margin-right: 70px;
  }

  .u-section-4 .u-image-1 {
    width: 371px;
    height: 373px;
    object-position: 50% 96.26%;
    margin-top: -402px;
    margin-left: 70px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 837px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: -17px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 349px;
  }

  .u-section-4 .u-shape-1 {
    height: 253px;
    width: 300px;
    margin-top: 76px;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    width: 281px;
    height: 279px;
    margin-top: -309px;
    margin-left: auto;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 876px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 510px;
}

.u-section-5 .u-container-layout-1 {
  padding-top: 0;
}

.u-section-5 .u-shape-1 {
  height: 421px;
  width: 472px;
  margin: 59px 0 0 auto;
}

.u-section-5 .u-image-1 {
  width: 457px;
  height: 460px;
  object-position: 50% 0%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -480px auto 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 510px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  margin: 38px auto 0 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-5 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 20px auto 0 0;
}

.u-section-5 .u-btn-2 {
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-5 .u-text-3 {
  margin: 30px auto 0 0;
}

.u-section-5 .u-text-4 {
  margin: 20px 0 60px;
}

.u-section-5 .u-btn-3 {
  background-image: none;
  font-family: Raleway, sans-serif;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 787px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 421px;
  }

  .u-section-5 .u-shape-1 {
    height: 332px;
    width: 369px;
  }

  .u-section-5 .u-image-1 {
    width: 364px;
    height: 336px;
    margin-top: -390px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 421px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 688px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 332px;
  }

  .u-section-5 .u-shape-1 {
    height: 243px;
    width: 276px;
  }

  .u-section-5 .u-image-1 {
    width: 276px;
    height: 255px;
    margin-top: -301px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 984px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 399px;
  }

  .u-section-5 .u-shape-1 {
    height: 310px;
    width: 332px;
    margin-right: 70px;
  }

  .u-section-5 .u-image-1 {
    width: 371px;
    height: 373px;
    object-position: 50% 96.26%;
    margin-top: -402px;
    margin-left: 70px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 792px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: -17px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 349px;
  }

  .u-section-5 .u-shape-1 {
    height: 253px;
    width: 300px;
    margin-top: 76px;
    margin-right: 0;
  }

  .u-section-5 .u-image-1 {
    width: 281px;
    height: 279px;
    margin-top: -309px;
    margin-left: auto;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 471px;
}

.u-section-6 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-6 .u-list-1 {
  margin-top: 30px;
  margin-bottom: 60px;
  grid-template-rows: auto;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 952px;
}

.u-section-6 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/ZXcorr-image1.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-2 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 270px;
  font-size: 1.5rem;
}

.u-section-6 .u-text-3 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-6 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/neutrinos1.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-4 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 270px;
  font-size: 1.5rem;
}

.u-section-6 .u-text-5 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-6 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/32807df3e525370b8fbb8f165ca2854a109f5b361dae065c0cdf4bb9516da8ad6bbb4ae5f04005ef6d12c3d988ee64cfb4a96383b157151190e9ec_12801.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-text-6 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 270px;
  font-size: 1.5rem;
}

.u-section-6 .u-text-7 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-6 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/IfATree-thumb1.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-text-8 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 270px;
  font-size: 1.5rem;
}

.u-section-6 .u-text-9 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-6 .u-image-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/materiaEscura11.png");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-5 {
  padding: 30px;
}

.u-section-6 .u-text-10 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 270px;
  font-size: 1.5rem;
}

.u-section-6 .u-text-11 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-6 .u-image-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/spread11.png");
  background-position: 18.9% 50%;
}

.u-section-6 .u-container-layout-6 {
  padding: 30px;
}

.u-section-6 .u-text-12 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 270px;
  font-size: 1.5rem;
}

.u-section-6 .u-text-13 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  font-family: Raleway, sans-serif;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-repeater-1 {
    min-height: 785px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 1353px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}