.u-section-1 .u-sheet-1 {
  min-height: 354px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-1 .u-text-3 {
  line-height: 1.8;
  width: 680px;
  margin: 20px auto 60px;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-3 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 336px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 169px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-family: Raleway, sans-serif;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  font-family: Raleway, sans-serif;
  padding: 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  font-family: Raleway, sans-serif;
  padding: 0;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  border-style: none none solid;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 236px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 42px;
}

.u-section-2 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 116px;
  min-width: 52px;
  margin: 0 auto;
}

.u-section-2 .u-icon-1 {
  color: rgb(0, 0, 0) !important;
}

.u-section-2 .u-icon-2 {
  color: rgb(0, 0, 0) !important;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 295px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 139px;
  }

  .u-section-2 .u-btn-4 {
    margin-top: 20px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 195px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 249px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 149px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 424px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 46px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-social-icons-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 341px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 120px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 650px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 0 auto 60px 0;
}

.u-section-3 .u-image-1 {
  min-height: 590px;
  background-image: url("images/observatoire_bizarre_08-1600x1200.jpg.webp");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 590px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-3 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  font-family: Raleway, sans-serif;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  font-family: Raleway, sans-serif;
  color: rgba(0, 0, 0, 0);
  padding: 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  font-family: Raleway, sans-serif;
  padding: 0;
}

.u-section-3 .u-btn-4 {
  background-image: none;
  font-family: Raleway, sans-serif;
  padding: 0;
}

.u-section-3 .u-btn-5 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  background-image: none;
  border-style: solid;
  margin: 20px auto 0 0;
  padding: 10px 34px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 481px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 486px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 486px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 367px;
  }

  .u-section-3 .u-image-1 {
    min-height: 372px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 653px;
  }

  .u-section-3 .u-image-1 {
    min-height: 558px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 446px;
  }

  .u-section-3 .u-image-1 {
    min-height: 351px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 372px;
  }

  .u-section-3 .u-btn-5 {
    margin-left: auto;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 618px;
}

.u-section-4 .u-text-1 {
  margin: 39px auto 0;
}

.u-section-4 .u-video-1 {
  height: 360px;
  width: 640px;
  margin: 30px auto 0;
}

.u-section-4 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.u-section-4 .u-text-2 {
  width: 680px;
  margin: 20px auto 39px;
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-video-1 {
    height: 300px;
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
    margin-bottom: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 473px;
  }

  .u-section-4 .u-video-1 {
    height: 190px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .embed-responsive-1 {
    left: -39%;
    top: -39%;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
    margin-bottom: 60px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1142px;
}

.u-section-5 .u-text-1 {
  margin: 72px auto 0 0;
}

.u-section-5 .u-list-1 {
  margin-top: 30px;
  margin-bottom: 60px;
  grid-template-rows: auto;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 952px;
}

.u-section-5 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/ZXcorr-image1.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-2 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 270px;
  font-size: 1.5rem;
}

.u-section-5 .u-text-3 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-5 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/neutrinos1.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-4 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 270px;
  font-size: 1.5rem;
}

.u-section-5 .u-text-5 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-5 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/32807df3e525370b8fbb8f165ca2854a109f5b361dae065c0cdf4bb9516da8ad6bbb4ae5f04005ef6d12c3d988ee64cfb4a96383b157151190e9ec_12801.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-6 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 270px;
  font-size: 1.5rem;
}

.u-section-5 .u-text-7 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-5 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/IfATree-thumb1.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-text-8 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 270px;
  font-size: 1.5rem;
}

.u-section-5 .u-text-9 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-5 .u-image-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/materiaEscura11.png");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px;
}

.u-section-5 .u-text-10 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 270px;
  font-size: 1.5rem;
}

.u-section-5 .u-text-11 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-5 .u-image-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/spread11.png");
  background-position: 18.9% 50%;
}

.u-section-5 .u-container-layout-6 {
  padding: 30px;
}

.u-section-5 .u-text-12 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 270px;
  font-size: 1.5rem;
}

.u-section-5 .u-text-13 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  font-family: Raleway, sans-serif;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-repeater-1 {
    min-height: 785px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 1353px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}